*{
    font-family: "Roboto", "Helvetica Neue",;
}
.header-top-container{
    padding-top: 6px;
    padding-bottom: 6px;
    background-color:black;
    width: 100%;
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
}
.header-container{
    width: 90%;
    margin: auto;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.website-logo{
    font-size: 28px;
    color:#fff;
}
@media (max-width:767px) {
    .website-logo{
        font-size:20px;
    }
    
}
.website-logo:hover{
    color:  rgb(48, 116, 206);
}



.nav-link{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
}




.buttons-container{
    display: flex;
    align-items: center;
}
.login-button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    border-radius: 12px;
    padding: 12px 24px 12px 24px;
    margin-right: 20px;
}
@media (max-width: 767px) {
    .login-button{
        font-size:16px;
        padding: 6px 12px 6px 12px;
        margin-right: 3px;
    }
}
.login-button:hover{
    background-color: #45a049;
    border:1px dashed #fff;
}


.sign-up-button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color:#1238b4;
    color: #fff;
    font-size: 18px;
    border-radius: 12px;
    padding: 12px 24px 12px 24px;
}

@media (max-width: 767px) {
    .sign-up-button{
        font-size:16px;
        padding: 6px 12px 6px 12px;
    }
}

.sign-up-button:hover{
    background-color: #112d68;
    border:1px dashed #fff;
}

